In [7]:
import pandas as pd
df = pd.read_csv('books.csv')
print(df.head(10))
print(df.tail(10))

   Identifier              Edition Statement  \
0         206                            NaN
1         216                            NaN
2         218                            NaN
3         472                            NaN
4         480   A new edition, revised, etc.
5         481  Fourth edition, revised, etc.
6         519                            NaN
7         667                            NaN
8         874                            NaN
9        1143                            NaN

                  Place of Publication Date of Publication  \
0                               London         1879 [1878]
1             London; Virtue & Yorston                1868
2                               London                1869
3                               London                1851
4                               London                1857
5                               London                1875
6                               London                1872
7  pp. 40. G. Bryan & Co: Oxford, 1898                 NaN
8                              London]                1676
9                               London                1679

               Publisher                                              Title  \
0       S. Tinsley & Co.                  Walter Forbes. [A novel.] By A. A
1           Virtue & Co.  All for Greed. [A novel. The dedication signed...
2  Bradbury, Evans & Co.  Love the Avenger. By the author of “All for Gr...
3          James Darling  Welsh Sketches, chiefly ecclesiastical, to the...
4   Wertheim & Macintosh  [The World in which I live, and my place in it...
5      William Macintosh  [The World in which I live, and my place in it...
6             The Author  Lagonells. By the author of Darmayne (F. E. A....
7                    NaN  The Coming of Spring, and other poems. By J. A...
8                    NaN  A Warning to the inhabitants of England, and L...
9                    NaN  A Satyr against Vertue. (A poem: supposed to b...

          Author                                  Contributors  \
0          A. A.                               FORBES, Walter.
1      A., A. A.  BLAZE DE BURY, Marie Pauline Rose - Baroness
2      A., A. A.  BLAZE DE BURY, Marie Pauline Rose - Baroness
3      A., E. S.                   Appleyard, Ernest Silvanus.
4      A., E. S.                           BROOME, John Henry.
5      A., E. S.                           BROOME, John Henry.
6      A., F. E.                       ASHLEY, Florence Emily.
7  A., J.|A., J.                 ANDREWS, J. - Writer of Verse
8         Remaʿ.                                  ADAMS, Mary.
9         A., T.                                 OLDHAM, John.

   Corporate Author  Corporate Contributors Former owner  Engraver  \
0               NaN                     NaN          NaN       NaN
1               NaN                     NaN          NaN       NaN
2               NaN                     NaN          NaN       NaN
3               NaN                     NaN          NaN       NaN
4               NaN                     NaN          NaN       NaN
5               NaN                     NaN          NaN       NaN
6               NaN                     NaN          NaN       NaN
7               NaN                     NaN          NaN       NaN
8               NaN                     NaN          NaN       NaN
9               NaN                     NaN          NaN       NaN

  Issuance type                                         Flickr URL  \
0   monographic  http://www.flickr.com/photos/britishlibrary/ta...
1   monographic  http://www.flickr.com/photos/britishlibrary/ta...
2   monographic  http://www.flickr.com/photos/britishlibrary/ta...
3   monographic  http://www.flickr.com/photos/britishlibrary/ta...
4   monographic  http://www.flickr.com/photos/britishlibrary/ta...
5   monographic  http://www.flickr.com/photos/britishlibrary/ta...
6   monographic  http://www.flickr.com/photos/britishlibrary/ta...
7   monographic  http://www.flickr.com/photos/britishlibrary/ta...
8   monographic  http://www.flickr.com/photos/britishlibrary/ta...
9   monographic  http://www.flickr.com/photos/britishlibrary/ta...

                               Shelfmarks
0       British Library HMNTS 12641.b.30.
1       British Library HMNTS 12626.cc.2.
2       British Library HMNTS 12625.dd.1.
3     British Library HMNTS 10369.bbb.15.
4        British Library HMNTS 9007.d.28.
5       British Library HMNTS 9006.ee.10.
6        British Library HMNTS 12637.e.3.
7      British Library HMNTS 011652.g.73.
8      British Library HMNTS 11645.bb.42.
9  British Library HMNTS 11602.ee.10.(2.)
      Identifier Edition Statement Place of Publication Date of Publication  \
8277     4117751               NaN             New York                1882
8278     4117752               NaN               London        1883, [1884]
8279     4156359               NaN             New York           1898-1912
8280     4157746               NaN               London                1811
8281     4157862               NaN  Newcastle-upon-Tyne                1867
8282     4158088               NaN               London                1838
8283     4158128               NaN                Derby            1831, 32
8284     4159563               NaN               London           [1806]-22
8285     4159587               NaN  Newcastle upon Tyne                1834
8286     4160339               NaN               London             1834-43

                    Publisher  \
8277        John Wiley & Sons
8278           Trübner & Co.
8279      G. P. Putnam's Sons
8280   F. C. and J. Rivington
8281               T. Fordyce
8282                      NaN
8283          M. Mozley & Son
8284  T. Cadell and W. Davies
8285         Mackenzie & Dent
8286                      NaN

                                                  Title  \
8277  Third Appendix to the fifth edition of Dana's ...
8278  A System of Mineralogy ... Fifth edition, rewr...
8279  History of the People of the Netherlands ... T...
8280  The New Chronicles of England and France, in t...
8281  Local Records; or, Historical Register of rema...
8282  The Parochial History of Cornwall, founded on,...
8283  The History and Gazetteer of the County of Der...
8284  Magna Britannia; being a concise topographical...
8285  An historical, topographical and descriptive v...
8286  Collectanea Topographica et Genealogica. [Firs...

                                                 Author  \
8277                                DANA, James Dwight.
8278                                DANA, James Dwight.
8279                                BLOK, Pieter Johan.
8280                                    FABYAN, Robert.
8281      FORDYCE, T. - Printer, of Newcastle-upon-Tyne
8282                 GIDDY, afterwards GILBERT, Davies.
8283                         GLOVER, Stephen - of Derby
8284  LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
8285                              Mackenzie, E. (Eneas)
8286                                                NaN

                                           Contributors  Corporate Author  \
8277                            DANA, Edward Salisbury.               NaN
8278      BRUSH, George Jarvis.|DANA, Edward Salisbury.               NaN
8279                  BIERSTADT, Oscar A.|PUTNAM, Ruth.               NaN
8280  ELLIS, Henry - Sir, Principal Librarian of the...               NaN
8281   SYKES, John - Bookseller, of Newcastle-upon-Tyne               NaN
8282  BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...               NaN
8283                                     NOBLE, Thomas.               NaN
8284           GREGSON, Matthew.|LYSONS, Samuel - F.R.S               NaN
8285                               ROSS, M. - of Durham               NaN
8286            BANDINEL, Bulkeley.|Nichols, John Gough               NaN

      Corporate Contributors Former owner  Engraver Issuance type  \
8277                     NaN          NaN       NaN   monographic
8278                     NaN          NaN       NaN   monographic
8279                     NaN          NaN       NaN   monographic
8280                     NaN          NaN       NaN   monographic
8281                     NaN          NaN       NaN   monographic
8282                     NaN          NaN       NaN   monographic
8283                     NaN          NaN       NaN   monographic
8284                     NaN          NaN       NaN   monographic
8285                     NaN          NaN       NaN   monographic
8286                     NaN          NaN       NaN    continuing

                                             Flickr URL  \
8277  http://www.flickr.com/photos/britishlibrary/ta...
8278  http://www.flickr.com/photos/britishlibrary/ta...
8279  http://www.flickr.com/photos/britishlibrary/ta...
8280  http://www.flickr.com/photos/britishlibrary/ta...
8281  http://www.flickr.com/photos/britishlibrary/ta...
8282  http://www.flickr.com/photos/britishlibrary/ta...
8283  http://www.flickr.com/photos/britishlibrary/ta...
8284  http://www.flickr.com/photos/britishlibrary/ta...
8285  http://www.flickr.com/photos/britishlibrary/ta...
8286  http://www.flickr.com/photos/britishlibrary/ta...

                                             Shelfmarks
8277                   British Library HMNTS 7106.h.13.
8278                  British Library HMNTS 07108.i.14.
8279  British Library HMNTS|British Library HMNTS 09...
8280  British Library HMNTS|British Library HMNTS 19...
8281  British Library HMNTS|British Library HMNTS 01...
8282  British Library HMNTS|British Library HMNTS 10...
8283  British Library HMNTS|British Library HMNTS 10...
8284  British Library HMNTS|British Library HMNTS 19...
8285  British Library HMNTS|British Library HMNTS 10...
8286  British Library HMNTS|British Library HMNTS 79...

In [11]:
list(df.columns)

['Identifier',
 'Edition Statement',
 'Place of Publication',
 'Date of Publication',
 'Publisher',
 'Title',
 'Author',
 'Contributors',
 'Corporate Author',
 'Corporate Contributors',
 'Former owner',
 'Engraver',
 'Issuance type',
 'Flickr URL',
 'Shelfmarks']

In [46]:
total_books = len(df)
print("Total number of books:", total_books)

Total number of books: 8287

In [44]:
print(df.isnull().sum())

Identifier                   0
Edition Statement         7514
Place of Publication         0
Date of Publication       1759
Publisher                 4195
Title                        0
Author                    1778
Contributors                 0
Corporate Author          8287
Corporate Contributors    8287
Former owner              8286
Engraver                  8287
Issuance type                0
Flickr URL                   0
Shelfmarks                   0
dtype: int64

In [25]:
df[['Identifier', 'Title', 'Author', 'Place of Publication', 'Date of Publication']]

,Identifier,Title,Author,Place of Publication,Date of Publication
0,206,Walter Forbes. [A novel.] By A. A,A. A.,London,1879 [1878]
1,216,All for Greed. [A novel. The dedication signed...,"A., A. A.",London; Virtue & Yorston,1868
2,218,Love the Avenger. By the author of “All for Gr...,"A., A. A.",London,1869
3,472,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",London,1851
4,480,"[The World in which I live, and my place in it...","A., E. S.",London,1857
...,...,...,...,...,...
8282,4158088,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",London,1838
8283,4158128,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",Derby,"1831, 32"
8284,4159563,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",London,[1806]-22
8285,4159587,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",Newcastle upon Tyne,1834
8286,4160339,Collectanea Topographica et Genealogica. [Firs...,NaN,London,1834-43

In [61]:
import numpy as np

# Convert the data to numberic
df['Date of Publication'] = pd.to_numeric(df['Date of Publication'], errors='coerce')

# Add a new column to the df called Decade Column
df['Decade'] = (df['Date of Publication'] // 10) * 10

# Updated DataFrame
print("Updated DataFrame with Decade:")
print(df)

Updated DataFrame with Decade:
      Identifier             Edition Statement      Place of Publication  \
0            206                           nan                    London
1            216                           nan  London; Virtue & Yorston
2            218                           nan                    London
3            472                           nan                    London
4            480  A new edition, revised, etc.                    London
...          ...                           ...                       ...
8282     4158088                           nan                    London
8283     4158128                           nan                     Derby
8284     4159563                           nan                    London
8285     4159587                           nan       Newcastle upon Tyne
8286     4160339                           nan                    London

      Date of Publication                Publisher  \
0                     NaN         S. Tinsley & Co.
1                  1868.0             Virtue & Co.
2                  1869.0    Bradbury, Evans & Co.
3                  1851.0            James Darling
4                  1857.0     Wertheim & Macintosh
...                   ...                      ...
8282               1838.0                      nan
8283                  NaN          M. Mozley & Son
8284                  NaN  T. Cadell and W. Davies
8285               1834.0         Mackenzie & Dent
8286                  NaN                      nan

                                                  Title  \
0                     Walter Forbes. [A novel.] By A. A
1     All for Greed. [A novel. The dedication signed...
2     Love the Avenger. By the author of “All for Gr...
3     Welsh Sketches, chiefly ecclesiastical, to the...
4     [The World in which I live, and my place in it...
...                                                 ...
8282  The Parochial History of Cornwall, founded on,...
8283  The History and Gazetteer of the County of Der...
8284  Magna Britannia; being a concise topographical...
8285  An historical, topographical and descriptive v...
8286  Collectanea Topographica et Genealogica. [Firs...

                                                 Author  \
0                                                 A. A.
1                                             A., A. A.
2                                             A., A. A.
3                                             A., E. S.
4                                             A., E. S.
...                                                 ...
8282                 GIDDY, afterwards GILBERT, Davies.
8283                         GLOVER, Stephen - of Derby
8284  LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
8285                              Mackenzie, E. (Eneas)
8286                                                  M

                                           Contributors Corporate Author  \
0                                       FORBES, Walter.              nan
1          BLAZE DE BURY, Marie Pauline Rose - Baroness              nan
2          BLAZE DE BURY, Marie Pauline Rose - Baroness              nan
3                           Appleyard, Ernest Silvanus.              nan
4                                   BROOME, John Henry.              nan
...                                                 ...              ...
8282  BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...              nan
8283                                     NOBLE, Thomas.              nan
8284           GREGSON, Matthew.|LYSONS, Samuel - F.R.S              nan
8285                               ROSS, M. - of Durham              nan
8286            BANDINEL, Bulkeley.|Nichols, John Gough              nan

     Corporate Contributors Former owner Engraver Issuance type  \
0                       nan          nan      nan   monographic
1                       nan          nan      nan   monographic
2                       nan          nan      nan   monographic
3                       nan          nan      nan   monographic
4                       nan          nan      nan   monographic
...                     ...          ...      ...           ...
8282                    nan          nan      nan   monographic
8283                    nan          nan      nan   monographic
8284                    nan          nan      nan   monographic
8285                    nan          nan      nan   monographic
8286                    nan          nan      nan    continuing

                                             Flickr URL  \
0     http://www.flickr.com/photos/britishlibrary/ta...
1     http://www.flickr.com/photos/britishlibrary/ta...
2     http://www.flickr.com/photos/britishlibrary/ta...
3     http://www.flickr.com/photos/britishlibrary/ta...
4     http://www.flickr.com/photos/britishlibrary/ta...
...                                                 ...
8282  http://www.flickr.com/photos/britishlibrary/ta...
8283  http://www.flickr.com/photos/britishlibrary/ta...
8284  http://www.flickr.com/photos/britishlibrary/ta...
8285  http://www.flickr.com/photos/britishlibrary/ta...
8286  http://www.flickr.com/photos/britishlibrary/ta...

                                             Shelfmarks  Decade
0                     British Library HMNTS 12641.b.30.     NaN
1                     British Library HMNTS 12626.cc.2.  1860.0
2                     British Library HMNTS 12625.dd.1.  1860.0
3                   British Library HMNTS 10369.bbb.15.  1850.0
4                      British Library HMNTS 9007.d.28.  1850.0
...                                                 ...     ...
8282  British Library HMNTS|British Library HMNTS 10...  1830.0
8283  British Library HMNTS|British Library HMNTS 10...     NaN
8284  British Library HMNTS|British Library HMNTS 19...     NaN
8285  British Library HMNTS|British Library HMNTS 10...  1830.0
8286  British Library HMNTS|British Library HMNTS 79...     NaN

[8287 rows x 16 columns]

In [49]:
history_books = df[df['Title'].str.contains('histor', case=False, na=False)][['Title', 'Author', 'Place of Publication', 'Date of Publication']]
print("Books on history (containing 'history' in the title):")
print(history_books)

Books on history (containing 'history' in the title):
                                                  Title  \
11    Erindringer som Bidrag til Norges Historie fra...
18    [Historia geográfica, civil y politica de la ...
22    [Abdollatiphi Historiæ Ægypti compendium. [Wit...
23    The Comic History of England ... With ... colo...
24    [The comic history of England ... With twenty ...
...                                                 ...
8280  The New Chronicles of England and France, in t...
8281  Local Records; or, Historical Register of rema...
8282  The Parochial History of Cornwall, founded on,...
8283  The History and Gazetteer of the County of Der...
8285  An historical, topographical and descriptive v...

                                                 Author Place of Publication  \
11                                         AALL, Jacob.          Christiania
18    ABBAD Y LASIERRA, Agustín Íñigo - Bishop of...          Puerto-Rico
22                                                    M               Oxonii
23                           A'BECKETT, Gilbert Abbott.               London
24                           A'BECKETT, Gilbert Abbott.               London
...                                                 ...                  ...
8280                                    FABYAN, Robert.               London
8281      FORDYCE, T. - Printer, of Newcastle-upon-Tyne  Newcastle-upon-Tyne
8282                 GIDDY, afterwards GILBERT, Davies.               London
8283                         GLOVER, Stephen - of Derby                Derby
8285                              Mackenzie, E. (Eneas)  Newcastle upon Tyne

     Date of Publication
11                  1859
18                  1866
22                  1800
23    1847, 48 [1846-48]
24               [1897?]
...                  ...
8280                1811
8281                1867
8282                1838
8283            1831, 32
8285                1834

[1125 rows x 4 columns]

In [65]:
# Count the average number of books published by decade
# Group book by decades
book_count_by_decade = df.groupby('Decade')['Title'].count().reset_index()

 # rename the columns
book_count_by_decade.columns = ['Decade', 'Book Count']

# Calculate the average number of books published by decade
average_book_count = book_count_by_decade['Book Count'].mean()

# Display the results
print("\nBook Count by Decade:")
print(book_count_by_decade)

print(f"\nAverage number of books published per decade: {average_book_count:.2f}")

Book Count by Decade:
    Decade  Book Count
0   1540.0           1
1   1590.0           1
2   1600.0           4
3   1620.0           2
4   1630.0          13
5   1640.0           6
6   1650.0           7
7   1660.0          14
8   1670.0          24
9   1680.0          17
10  1690.0          30
11  1700.0          13
12  1710.0          12
13  1720.0          12
14  1730.0          30
15  1740.0          21
16  1750.0          28
17  1760.0          39
18  1770.0          63
19  1780.0          55
20  1790.0          79
21  1800.0         215
22  1810.0         283
23  1820.0         333
24  1830.0         291
25  1840.0         438
26  1850.0         659
27  1860.0         765
28  1870.0         835
29  1880.0         952
30  1890.0        1285
31  1910.0           1

Average number of books published per decade: 204.00

In [77]:
# Filter the rows where 'ValueColumn' > 90

# decades where the number of published books is over 90
filtered_decades = book_count_by_decade[book_count_by_decade['Book Count'] > 90]

# Display the filtered results
print("\nDecades with more than 90 published books:")
print(filtered_decades)

Decades with more than 90 published books:
    Decade  Book Count
21  1800.0         215
22  1810.0         283
23  1820.0         333
24  1830.0         291
25  1840.0         438
26  1850.0         659
27  1860.0         765
28  1870.0         835
29  1880.0         952
30  1890.0        1285

In [87]:
# Sort the filtered results in ascending order by 'Book Count'
sorted_filtered_decades = filtered_decades.sort_values(by='Book Count', ascending=True)

# Display the sorted filtered results
print("\nDecades with more than 90 published books (sorted in ascending order):")
print(sorted_filtered_decades)

Decades with more than 90 published books (sorted in ascending order):
    Decade  Book Count
21  1800.0         215
22  1810.0         283
24  1830.0         291
23  1820.0         333
25  1840.0         438
26  1850.0         659
27  1860.0         765
28  1870.0         835
29  1880.0         952
30  1890.0        1285

In [99]:
# Substitute NaN with 'M'
df.replace('nan', 'M', inplace=True)
print(df)

      Identifier             Edition Statement      Place of Publication  \
0            206                             M                    London
1            216                             M  London; Virtue & Yorston
2            218                             M                    London
3            472                             M                    London
4            480  A new edition, revised, etc.                    London
...          ...                           ...                       ...
8282     4158088                             M                    London
8283     4158128                             M                     Derby
8284     4159563                             M                    London
8285     4159587                             M       Newcastle upon Tyne
8286     4160339                             M                    London

     Date of Publication                Publisher  \
0                      M         S. Tinsley & Co.
1                 1868.0             Virtue & Co.
2                 1869.0    Bradbury, Evans & Co.
3                 1851.0            James Darling
4                 1857.0     Wertheim & Macintosh
...                  ...                      ...
8282              1838.0                        M
8283                   M          M. Mozley & Son
8284                   M  T. Cadell and W. Davies
8285              1834.0         Mackenzie & Dent
8286                   M                        M

                                                  Title  \
0                     Walter Forbes. [A novel.] By A. A
1     All for Greed. [A novel. The dedication signed...
2     Love the Avenger. By the author of “All for Gr...
3     Welsh Sketches, chiefly ecclesiastical, to the...
4     [The World in which I live, and my place in it...
...                                                 ...
8282  The Parochial History of Cornwall, founded on,...
8283  The History and Gazetteer of the County of Der...
8284  Magna Britannia; being a concise topographical...
8285  An historical, topographical and descriptive v...
8286  Collectanea Topographica et Genealogica. [Firs...

                                                 Author  \
0                                                 A. A.
1                                             A., A. A.
2                                             A., A. A.
3                                             A., E. S.
4                                             A., E. S.
...                                                 ...
8282                 GIDDY, afterwards GILBERT, Davies.
8283                         GLOVER, Stephen - of Derby
8284  LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
8285                              Mackenzie, E. (Eneas)
8286                                                  M

                                           Contributors Corporate Author  \
0                                       FORBES, Walter.                M
1          BLAZE DE BURY, Marie Pauline Rose - Baroness                M
2          BLAZE DE BURY, Marie Pauline Rose - Baroness                M
3                           Appleyard, Ernest Silvanus.                M
4                                   BROOME, John Henry.                M
...                                                 ...              ...
8282  BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...                M
8283                                     NOBLE, Thomas.                M
8284           GREGSON, Matthew.|LYSONS, Samuel - F.R.S                M
8285                               ROSS, M. - of Durham                M
8286            BANDINEL, Bulkeley.|Nichols, John Gough                M

     Corporate Contributors Former owner Engraver Issuance type  \
0                         M            M        M   monographic
1                         M            M        M   monographic
2                         M            M        M   monographic
3                         M            M        M   monographic
4                         M            M        M   monographic
...                     ...          ...      ...           ...
8282                      M            M        M   monographic
8283                      M            M        M   monographic
8284                      M            M        M   monographic
8285                      M            M        M   monographic
8286                      M            M        M    continuing

                                             Flickr URL  \
0     http://www.flickr.com/photos/britishlibrary/ta...
1     http://www.flickr.com/photos/britishlibrary/ta...
2     http://www.flickr.com/photos/britishlibrary/ta...
3     http://www.flickr.com/photos/britishlibrary/ta...
4     http://www.flickr.com/photos/britishlibrary/ta...
...                                                 ...
8282  http://www.flickr.com/photos/britishlibrary/ta...
8283  http://www.flickr.com/photos/britishlibrary/ta...
8284  http://www.flickr.com/photos/britishlibrary/ta...
8285  http://www.flickr.com/photos/britishlibrary/ta...
8286  http://www.flickr.com/photos/britishlibrary/ta...

                                             Shelfmarks  Decade
0                     British Library HMNTS 12641.b.30.       M
1                     British Library HMNTS 12626.cc.2.  1860.0
2                     British Library HMNTS 12625.dd.1.  1860.0
3                   British Library HMNTS 10369.bbb.15.  1850.0
4                      British Library HMNTS 9007.d.28.  1850.0
...                                                 ...     ...
8282  British Library HMNTS|British Library HMNTS 10...  1830.0
8283  British Library HMNTS|British Library HMNTS 10...       M
8284  British Library HMNTS|British Library HMNTS 19...       M
8285  British Library HMNTS|British Library HMNTS 10...  1830.0
8286  British Library HMNTS|British Library HMNTS 79...       M

[8287 rows x 16 columns]

In [101]:
# Save the modified DataFrame to a CSV file
df.to_csv('modified_books.csv', index=False)

print("Modified DataFrame saved as 'modified_books.csv'.")

Modified DataFrame saved as 'modified_books.csv'.

In [103]:
# Zip the CSV file
import zipfile
with zipfile.ZipFile('modified_books.zip', 'w') as zipf:
    zipf.write('modified_books.csv')